* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: rgba(68, 88, 119, 1);
  --secondary-color: rgba(146, 204, 206, 1);
  --tertiary-color: rgba(49, 52, 61, 1);
}
body {
  color: #39a6b2;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
header {
  padding: 20px 35px;
  background-color: rgba(49, 52, 61, 1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  align-items: center;
}
header h1 {
  font-weight: bold;
  font-size: 3vw;
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  margin: 0;
}

header a {
  margin: 10px 15px;
  text-decoration: none;
  color: var(--tertiary-color);
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  font-weight: normal;
  font-size: 1.5em;
  border-bottom: 3px solid var(--secondary-color);
  color: var(--secondary-color);
}
header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  text-shadow: none;
}

.hero-banner {
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  align-items: flex-end;
  background-attachment: fixed;
  background-position: 80%;
  min-height: 30vh;
}
.hero-banner h2 {
  font-size: 3vw;
  margin: 0 25px 25px 0;
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
}
.page-content-wrapper {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 35px;
}
.page-content > h2 {
  color: var(--primary-color);
  font-size: 3vw;
  flex: 0 0 20%;
  text-align: right;
  border-right: 3px solid;
  padding-right: 15px;
}
.page-content > div {
  flex: 0 0 75%;
}

.page-content p {
  padding-bottom: 20px;
  margin: 10px 15px;
  color: var(--tertiary-color);
}
.page-content-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-content-inner-item {
  border: 5px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  min-height: 200px;
  max-height: 200px;
  display: flex;
  align-items: flex-end;
  flex-basis: calc(50% - 1em);
  padding: 0 0 15px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 1rem;
}
.page-content-inner-item:first-child {
  flex: 1 100%;
  min-height: 400px;
}
.page-content-inner-item div {
  background-color: var(--secondary-color);
}
.page-content-inner-item h3 {
  font-size: 1.5em;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 30px 35px;
  align-items: center;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
footer h2 {
  color: var(--primary-color);
  font-size: 3vw;
  margin: 0;
  border-right: 3px solid;
  flex: 0 23%;
  text-align: right;
  padding-right: 15px;
}
footer div {
  line-height: 1.5;
  text-align: right;
  flex: 0 76%;
}
footer a {
  border-bottom: 3px solid #008080;
  text-decoration: none;
  color: var(--primary-color);
}
footer ul li a {
  margin: 10px 15px;
  font-weight: normal;
  font-size: 1.5vw;
}
footer ul li a:hover {
  background: #008080;
  text-shadow: none;
}

/* portfolio images */
.run-buddy {
  background-image: url("../images/run-buddy.jpg");
}

.led-wall {
  background-image: url("../images/ledwall.jpg");
}

.calculator {
  background-image: url("../images/Calculator.jpg");
}

.pastel-puzzles {
  background-image: url("../images/puzzle.jpg");
}

.surf-report {
  background-image: url("../images/Surf.jpg");
}

/* end portfolio images */
@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }
  header h1 {
    width: 100%;
    font-size: 10vw;
    margin-bottom: 10px;
  }
  header ul {
    justify-content: center;
  }
  .hero-banner {
    justify-content: center;
  }
  .hero-banner h2 {
    font-size: 1.5em;
  }

  .page-content > h2 {
    color: var(--primary-color);
    font-size: 3vw;
    flex: 0 0 100%;
    text-align: left;
    border-bottom: 3px solid;
    border-right: none;
    padding-bottom: 15px;
    width: 100%;
    margin-bottom: 20px;
  }
  .page-content > div {
    flex-basis: 100%;
  }
  footer ul {
    flex-direction: column;
    align-items: start;
  }
  footer li {
    padding: 5px;
  }
  footer h2 {
    font-size: 1.5em;
    text-align: left;
    border-right: none;
    border-bottom: 3px solid;
    width: 100%;
    flex-basis: 100%;
    padding: 10px;
    margin: 10px 15px;
  }
  footer div {
    flex: 0 0 100%;
  }

  footer ul li a {
    margin: 10px 15px;
    font-weight: normal;
    font-size: 1.5em;
  }
}
@media screen and (max-width: 768px) {
  .page-content-inner-item {
    flex-basis: 100%;
  }
  .page-content > h2 {
    font-size: 1.5em;
  }
}
